<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if I18n.locale.to_s == "en" %>
        English <%= link_to('日本語', :locale => 'ja') %>
      <% else %>
        <%= link_to('English', :locale => 'en') %> 日本語
      <% end %>
    </header>

    <p>
      <% if user_signed_in? %>
        <%= t('devise.shared.links.sign_in_with_provider', provider: current_user.email ) %>
        <%= link_to t('devise.registrations.edit.profile'), edit_user_registration_path %> |
        <%= link_to t('devise.sessions.sign_out'), destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to t('devise.registrations.new.sign_up'), new_user_registration_path %> |
        <%= link_to t('devise.sessions.new.sign_in'), new_user_session_path %>
      <% end %>
    </p>

    <p id="notice"><%= notice %></p>
    <p id="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
